<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-baidu-navigator"
        version="1.1.0">

    <name>Baidu Navigator</name>
    <description>Baidu Navigator  for cordova plugin</description>
    <author>Huang Li</author>
    <keywords>Baidu,Cordova </keywords>
    <license>Apache 2.0 License</license>

    <preference name="API_KEY_ANDROID" />
    <preference name="API_KEY_IOS" />
    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/navigatorPlugin.js" name="NavigatorPlugin">
            <clobbers target="plugins.baiduNavigator"/>
    </js-module>


    <!-- ios -->
    <platform name="ios">
		<hook type="before_plugin_install" src="scripts/before_plugin_install.sh" />
        <config-file target="config.xml" parent="/*">
            <feature name="Baidu">
                <param name="ios-package" value="CDVBaiduNavi"/>
                <param name="onload" value="true" />
            </feature>
            <!--preference name="BaiduAppKey" value="$BaiduAppKey"/-->
            <preference name="Valid Architecutres" value="armv7,arm64"/>
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>Required background modes</key>
                    <array>
                       	<string>App plays audio or streams audio/video using AirPlay</string>
                        <string>App registers for location updates</string>
                    </array>
                    <key>Supported interface orientations</key>
                    <array>
                        <string>Portrait (bottom home button)</string>
                        <string>Portrait (top home button)</string>
                        <string>Landscape (left home button)</string>
                        <string>Landscape (right home button)</string>
                    </array>
                    <key>NSLocationAlwaysUsageDescription</key>
                    <string>只有开启定位功能才能正常使用百度导航</string>
                </dict>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="APP_KEY">
            <string>$API_KEY_IOS</string>
        </config-file>
        
        <!-- Plugin source code -->
        <header-file src="src/ios/CDVBaiduNavi.h" />
        <source-file src="src/ios/CDVBaiduNavi.m" />
        <header-file src="src/ios/BaiduNaviViewController.h" />
        <source-file src="src/ios/BaiduNaviViewController.m" />
        
        <!-- Baidu Official -->
        <resource-file src="src/ios/libs/BaiduNaviSDK/baiduNaviSDK.bundle" />
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/BaiduMobStat.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/CDataScanner.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/CDataScanner.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CFilteringJSONSerializer.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CFilteringJSONSerializer.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONSerialization.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONSerialization.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONSerializedData.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Experimental/CJSONSerializedData.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/CDataScanner_Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/CDataScanner_Extensions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSCharacterSet_Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSCharacterSet_Extensions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSDictionary_JSONExtensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSDictionary_JSONExtensions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSScanner_Extensions.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/Extensions/NSScanner_Extensions.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONDataSerializer.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONDataSerializer.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONDeserializer.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONDeserializer.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONScanner.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONScanner.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONSerializer.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CJSONSerializer.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CSerializedJSONData.h" compiler-flags="-fno-objc-arc"/>
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/CSerializedJSONData.m" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/TouchJSON/JSON/JSONRepresentation.h" compiler-flags="-fno-objc-arc"/>
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNCommonDef.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNCoreServices.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNLocation.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNLocationManagerProtocol.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNRoutePlanManagerProtocol.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNRoutePlanModel.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNStrategyManagerProtocol.h" />
        <header-file src="src/ios/libs/BaiduNaviSDK/inc/BNUIManagerProtocol.h" />
        
        
        <!-- Other required frameworks -->
        <framework src="AudioToolbox.framework" />
        <framework src="ImageIO.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libstdc++.6.0.9.dylib" />
        
        <!--framework src="AssetsLibrary.framework" /-->
        <!--framework src="CoreLocation.framework" /-->
        <!--framework src="CoreGraphics.framework" /-->
        <!--framework src="MobileCoreServices.framework" /-->
        <!--source-file src="src/ios/libs/libstdc++.6.0.9.dylib" framework="true" /-->
        <source-file src="src/ios/libs/BaiduNaviSDK/libbaiduNaviSDK.a" framework="true" />
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/BaiduMobStat.a" framework="true" />
        <source-file src="src/ios/libs/BaiduNaviSDK/BaiduStatistics/libBaiduMobStatForSDK.a" framework="true" />
    </platform>
    
    <!-- android -->
    <platform name="android"> 
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NavigatorPlugin">
                <param name="android-package" value="cn.baidu.navigator.Navigator"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  
            <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />  
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
            <uses-permission android:name="android.permission.INTERNET" />  
            <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />  
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
            <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
            <uses-permission android:name="android.permission.WAKE_LOCK" />  
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
            <uses-permission android:name="android.permission.ACCESS_GPS" />   
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
            <uses-permission android:name="android.permission.BROADCAST_STICKY" />  
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />  
            <!-- 来电消音 -->  
            <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />  
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />  
            <uses-permission android:name="android.permission.RECORD_AUDIO" />     
             <!-- 摄影机 -->     
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
           <service  
           android:name="com.baidu.location.f"  
           android:enabled="true"  
           android:process=":remote" />
            <activity android:name="cn.baidu.navigator.GuideActivity"
                       android:exported="false" android:theme="@android:style/Theme.Black.NoTitleBar">
            
            </activity>
       <meta-data android:name="com.baidu.lbsapi.API_KEY"  
            android:value="$API_KEY_ANDROID" />
            
        </config-file>
        <!-- libs -->
        <source-file src="src/android/libs/BaiduLBS_Android.jar" target-dir="libs"/>
        <source-file src="src/android/libs/httpmime-4.1.2.jar" target-dir="libs"/>
        <source-file src="src/android/libs/armeabi/libapp_BaiduNaviApplib.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libapp_BaiduVIlib.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libbd_etts.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libbds.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libBDSpeechDecoder_V1.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libcurl.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/armeabi/libgnustl_shared.so" target-dir="libs/armeabi-v7a"/>
        <!-- assets -->
        <source-file src="src/android/assets/BaiduNaviSDK_3.0.png" target-dir="assets"/>
        <source-file src="src/android/assets/BaiduNaviSDK_Resource_3.0.png" target-dir="assets"/>
        <source-file src="src/android/assets/channel" target-dir="assets"/>
          
        <!--source code-->
        <source-file src="src/android/GuideActivity.java" target-dir="src/cn/baidu/navigator"/>
        <source-file src="src/android/Navigator.java" target-dir="src/cn/baidu/navigator"/>
    </platform>
</plugin>
